<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>PDF Reader</h1>
  <ul>
    <li><a href="{{ url_for('pdf.upload') }}">Upload</a>
    <li><a href="{{ url_for('read.pdf_list') }}">Lire</a>
  </ul>
</nav>
<section class="content">
  <header>
    <br>
    <br>
    {% block header %}Page d'accueil{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>